{% extends 'base.html' %} {% block content %}

<h1>Ferret Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ ferret.name }}</span>
        <p>Breed: {{ ferret.breed }}</p>
        <p>Description: {{ ferret.description }}</p>
        {% if ferret.age > 0 %}
        <p>Age: {{ ferret.age }}</p>
        {% else %}
        <p>Age: Little ferret</p>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'ferrets_update' ferret.id %}">Edit</a>
        <a href="{% url 'ferrets_delete' ferret.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_feeding' ferret.id %}" method="post">
      {% csrf_token %} {{ feeding_form.as_p }}
      <input type="submit" class="btn" value="add feeding" />
    </form>
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Meal</th>
        </tr>
      </thead>
      <tbody>
        {% for feeding in ferret.feeding_set.all %}
        <tr>
          <td>{{feeding.date}}</td>
          <td>{{feeding.get_meal_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr />
<div class="row">
  <div class="col s6">
    <h3>{{ ferret.name }}'s Toys</h3>
    {% if ferret.toys.count %} {% for toy in ferret.toys.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
        </span>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>No Toys :(</h5>
    {% endif %}
  </div>

  <div class="col s6">
    <h3>Available Toys</h3>
    {% if toys.count %} {% for toy in toys.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
        </span>
      </div>
      <div class="card-action">
        <form action="{% url 'assoc_toy' ferret.id toy.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn">Add</button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>{{ferret.name}} Already Has All Toys Available</h5>
    {% endif %}
  </div>

  <script>
    const dateEl = document.getElementById("id_date");
    M.Datepicker.init(dateEl, {
      format: "yyyy-mm-dd",
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true,
    });

    const selectEl = document.getElementById("id_meal");
    M.FormSelect.init(selectEl);
  </script>

  {% endblock %}
</div>
